# IDEs and Editors
.idea/
.vscode/
*.iml
*.iws
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Build and Output
target/
out/
bin/
build/
/nbbuild/
/dist/
/nbdist/

# Maven
.mvn/
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar

# Logs and OS files
*.log
.DS_Store
Thumbs.db
HELP.md