# --- Project Specific ---
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
/logs/
*.log

# --- Compiled files ---
*.class
*.jar
*.war
*.ear

# --- IDE Specific (IntelliJ, VS Code, STS) ---
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache
.apt_generated

# --- Build Tools ---
.mvn/
mvnw
mvnw.cmd
build/
bin/

# --- Operating System ---
[Dd]s.[Ss]tore
Thumbs.db
